@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @appy mx-auto;
  }
  .product-scroll-parallax::before {
    content: '';
    @apply absolute inset-0 bg-gradient-to-b from-black/90 to-black/0 w-full h-[300px];
  }
  .hero {
    @apply p-5;

    h1 {
      @apply text-[40px] sm:text-[55px] md:text-[75px] lg:text-[114px]
            font-normal text-white uppercase mb-4 leading-[4rem]
            sm:leading-[5rem] md:leading-[7rem] lg:leading-[10rem];
    }
    p {
      @apply text-[24px];
    }
  }
  .slick-hero {
    .slick-track {
      @apply flex justify-center items-center;
    }
    .slick-slide {
      @apply flex justify-center items-center !important;
    }
    .slide-item {
      @apply text-center px-[10px] !important;
    }
    .slick-slide {
      @apply mt-[20px] lg:mt-0 h-full lg:h-[800px];
    }
    img {
      @apply object-contain transition-all duration-500;
      max-height: 100%; /* ✅ never overflow vertical space */
      width: 100%; /* ✅ keep proper aspect ratio */
      object-fit: cover;
    }
    /* Size Variations */
    .slide-big img {
      max-height: 100%; /* Full height */
      @apply opacity-100;
    }

    .slide-medium img {
      max-height: 65%;
      @apply opacity-90;
    }

    .slide-small img {
      max-height: 40%;
      @apply opacity-50;
    }
  }
  .product-scroll {
    .item.item-one > * {
      @apply text-white uppercase text-[42px] leading-[112%] font-[400];
    }
  }

  .about {
    .item {
      @apply relative;
      &.item-second {
        @apply relative;
      }
      &.item-second::before {
        content: '';
        @apply block absolute bottom-[-200px] left-[50%] lg:left-0 h-[100px] w-[1px] bg-white;
      }
    }
  }

  .footer {
    .item-second {
      p {
        @apply mb-3;
      }
    }
  }
}
