@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @appy mx-auto;
  }
  .product-scroll-parallax::before {
    content: '';
    @apply absolute inset-0 bg-gradient-to-b from-black/90 to-black/0 w-full h-[300px];
  }

  @media (max-width: 768px) {
    .product-scroll-parallax {
      background-attachment: scroll !important; /* fallback for mobile */
    }
  }

  .hero {
    @apply p-5;

    h1 {
      @apply text-[40px] sm:text-[55px] md:text-[75px] lg:text-[114px]
            font-normal text-white uppercase mb-4 leading-[4rem]
            sm:leading-[5rem] md:leading-[7rem] lg:leading-[10rem];
    }
    p {
      @apply text-[24px];
    }
  }
  .gallery {
    .slick-hero {
      /*.slick-track {*/
      /*  @apply flex justify-center items-center;*/
      /*}*/

      /*.slick-slide {*/
      /*  @apply flex justify-center px-[15px] items-center !important;*/
      /*}*/

      /*.slide-item {*/
      /*  @apply text-center !important;*/
      /*}*/

      /*.slick-slide {*/
      /*  @apply mt-[20px] lg:mt-0 h-full;*/
      /*  transition: transform 0.4s ease, opacity 0.4s ease;*/
      /*  opacity: 0.4;*/
      /*  pointer-events: none;*/
      /*}*/

      img {
        @apply object-contain transition-all duration-500;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .slick-slide {
        z-index: 1;
        position: relative;
        -webkit-transition: -webkit-transform 0.25s ease-in,
          background 0.25s ease-in;
        -moz-transition: -moz-transform 0.25s ease-in, background 0.25s ease-in;
        -o-transition: -o-transform 0.25s ease-in, background 0.25s ease-in;
        transition: transform 0.25s ease-in, background 0.25s ease-in;
        opacity: 0;
        -webkit-transform: translateX(30%) scale(0.6);
        -moz-transform: translateX(30%) scale(0.6);
        -ms-transform: translateX(30%) scale(0.6);
        -o-transform: translateX(30%) scale(0.6);
        transform: translateX(30%) scale(0.6);
      }
      .slick-slide.slick-active {
        opacity: 1;
        img {
          @apply h-[445px] md:h-full;
        }
      }
      .slick-slide.slide-small.post-1 {
        -webkit-transform: translateX(30%) scale(0.6);
        -moz-transform: translateX(30%) scale(0.6);
        -ms-transform: translateX(30%) scale(0.6);
        -o-transform: translateX(30%) scale(0.6);
        transform: translateX(30%) scale(0.6);
        z-index: 3;
      }

      .slick-slide.slide-small.post-5 {
        -webkit-transform: translateX(-30%) scale(0.6);
        -moz-transform: translateX(-30%) scale(0.6);
        -ms-transform: translateX(-30%) scale(0.6);
        -o-transform: translateX(-0%) scale(0.6);
        transform: translateX(-30%) scale(0.6);
        z-index: 3;
      }
      .slick-slide.slick-active.slide-small.post-1 {
        -webkit-transform: translateX(30%) scale(0.6);
        -moz-transform: translateX(30%) scale(0.6);
        -ms-transform: translateX(30%) scale(0.6);
        -o-transform: translateX(30%) scale(0.6);
        transform: translateX(30%) scale(0.6);
        z-index: 3;
      }

      .slick-slide.slick-active.slide-small.post-5 {
        -webkit-transform: translateX(-30%) scale(0.6);
        -moz-transform: translateX(-30%) scale(0.6);
        -ms-transform: translateX(-30%) scale(0.6);
        -o-transform: translateX(-30%) scale(0.6);
        transform: translateX(-30%) scale(0.6);
        z-index: 3;
      }
      .slick-slide.slick-active.post-2.slide-medium {
        -webkit-transform: translateX(5%) scale(0.8);
        -moz-transform: translateX(5%) scale(0.8);
        -ms-transform: translateX(5%) scale(0.8);
        -o-transform: translateX(5%) scale(0.8);
        transform: translateX(5%) scale(0.8);
        z-index: 4;
      }
      .slick-slide.slick-active.post-4.slide-medium {
        -webkit-transform: translateX(-5%) scale(0.8);
        -moz-transform: translateX(-5%) scale(0.8);
        -ms-transform: translateX(-5%) scale(0.8);
        -o-transform: translateX(-5%) scale(0.8);
        transform: translateX(-5%) scale(0.8);
        z-index: 4;
      }

      .slick-current.slick-active.slick-center.post-3.slide-big {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        z-index: 5;
      }
    }
  }
  .product-scroll {
    .item.item-one > * {
      @apply text-white uppercase text-[42px] leading-[112%] font-[400];
    }
  }

  .about {
    .item {
      @apply relative;
      &.item-second {
        @apply relative;
      }
      &.item-second::before {
        content: '';
        @apply block absolute bottom-[-200px] left-[50%] lg:left-0 h-[100px] w-[1px] bg-white;
      }
    }
  }

  .footer {
    .item-second {
      p {
        @apply mb-3;
      }
    }
  }
}
